.header
{
    height: 18%;
    width: 100%;
    background-image: url("../images/bg-header-desktop.png");
   
}
.logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 7%;
    text-align:center;
    width: 4%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2%;
      
}
.text
{
    text-align: justify;
    font-family: Bai Jamjuree;
    margin-top: -1%;
    font-weight: 400;
    width: 50%;
    margin: auto;  
    
}
h1{
    letter-spacing: 3px;
}
.ios
{
        border: none;
        color: white;
        padding: 4px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: hsl(171, 66%, 44%);
        border-radius: 20px;
        font-family: Bai Jamjuree;

}

.mac
{
        border: none;
        color: white;
        padding: 4px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color:hsl(233, 100%, 69%);
        border-radius: 20px;
        font-family: Bai Jamjuree;

}
.button
{
    width: 40%;
    height: 5%;
    margin: auto;
}
.track
{
    text-align: justify;
    font-family: Bai Jamjuree;
    font-weight: 400;
    width: 50%;
    margin: auto;  

}
.keep
{
    margin-left: 12%;
}
.screen
{
width: 55%;
margin-left: -6%;
white-space: nowrap;
}
.outerofScreen
{
    width: 40%;
    height: 45%;
    margin: auto;
    margin-left: 50%;
    margin-top: -37%;
   
}
.quick
{
    margin-left: 10%;
}
h2{
    font-family: Bai Jamjuree;
    font-weight: bold;
    font-size: 24px;
}
h3{
    font-family: Bai Jamjuree;
    font-size: 18px;
    font-weight: 500;
}
.last
{
    margin: auto;
    margin-left: 8%;
    margin-top: 10%;
    
}